<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>weapp-snail-books</title>
    <style>
      li.done {
        text-decoration:line-through;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>{{title}}</p>
      <p>{{subtitle}}</p>
      <div>
        <input type="text" v-model="inputText"/>
        <button @click="handleClick">提交</button>
        <button @click="handleClean">清空已完成的</button>
      </div>
      <ul>
        <!-- <li @click="handleToggle(index)" :class="todo.done ? 'done':''" :style="todo.done ? 'color:red':''" v-for="(todo,index) in todos">{{todo.text}}</li> -->
        <li @click="handleToggle(index)" :class="{'done':todo.done}" :style="todo.done ? 'color:red':''" v-for="(todo,index) in todos">{{todo.text}}</li>
      </ul>
      <p>还剩{{remain}}本书/总共有{{this.todos.length}}本书</p>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
